*.sln
*.db
*.ipch
*.vcxproj
*.filters
Debug/CiaoWorld.exe.lastcodeanalysissucceeded
CiaoWorld/Release/CiaoWorld.tlog/CiaoWorld.write.1u.tlog
CiaoWorld/Release/CiaoWorld.tlog/CiaoWorld.lastbuildstate
CiaoWorld/Release/CiaoWorld.tlog/CL.write.1.tlog
CiaoWorld/Release/CiaoWorld.tlog/CL.read.1.tlog
CiaoWorld/Debug/vc141.idb
CiaoWorld/Debug/vc.nativecodeanalysis.all.xml
CiaoWorld/Debug/NativeCodeAnalysis.read.1.tlog
CiaoWorld/Debug/CiaoWorld.tlog/link.write.1.tlog
CiaoWorld/Debug/CiaoWorld.tlog/link.read.1.tlog
CiaoWorld/Debug/CiaoWorld.tlog/link.command.1.tlog
CiaoWorld/Debug/CiaoWorld.pch.codeanalysisast
CiaoWorld/Debug/CiaoWorld.pch.codeanalysis
Release/CiaoWorld.ipdb
Release/CiaoWorld.iobj
CiaoWorld/Release/CiaoWorld.tlog/link.write.1.tlog
CiaoWorld/Release/CiaoWorld.tlog/link.read.1.tlog
CiaoWorld/Release/CiaoWorld.tlog/link.command.1.tlog
CiaoWorld/Release/CiaoWorld.tlog/CL.command.1.tlog
CiaoWorld/Debug/stdafx.nativecodeanalysis.xml
CiaoWorld/Debug/mathfunctions.nativecodeanalysis.xml
CiaoWorld/Debug/main.nativecodeanalysis.xml
CiaoWorld/Debug/inputoutput.nativecodeanalysis.xml
CiaoWorld/Debug/CiaoWorld.tlog/CiaoWorld.lastbuildstate
CiaoWorld/Debug/CiaoWorld.tlog/CL.write.1.tlog
CiaoWorld/Debug/CiaoWorld.tlog/CL.read.1.tlog
CiaoWorld/Debug/CiaoWorld.tlog/CL.command.1.tlog
*.opendb
CiaoWorld/Debug/CiaoWorld.tlog/unsuccessfulbuild
